<html>
    <head>
        <title>Chelsea Football Club</title>
    </head>
    <body>
        <h1>Player Management Home</h1>
        <hr>
        <li><a href="/register">Register Player</a></li>
        <li><a href="/display">Squad List</a></li>
        <li><a href="/sell">Transfer Player</a></li>
        <li><a href="/update">Update Player Age/Position</a></li>
        <li><a href="/search">Search for Player</a></li>
        <hr>
        <strong>#COYB #KTBFFH</strong>
        <hr>
    </body>
</html>