<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faculty Manager Home</title>
</head>
<body>
    <h1>Faculty Manager Home</h1>
    <hr>
    <li><a href="/register">Register</a></li>
    <li><a href="/display">Display</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/update">Update</a></li>
    <li><a href="/delete">Delete</a></li>
</body>
</html>